<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.letterbox4">
    <!-- !! -->
    <!-- camera -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->


    <!-- <uses-feature android:name="android.hardware.Camera" /> -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GuideActivity"
            android:theme="@style/NoTitle">

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PCCForWeatherActivity" />
        <activity android:name=".WeatherActivity" />

        <service
            android:name="com.service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name="com.util.UserRankFragment" />
        <activity
            android:name=".InputPerformanceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".openCameraActivity" />
        <activity android:name=".WelcomeActivity"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
